{% extends 'home.html' %}

{% block title %} about{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" tyye="text/css" href="{% static 'css/abou.css' %}"/>
<body class='bas'>
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h4>Welcome, to our micro project webside</h4>
                <h4>Our contribution to micro project</h4><br>
                <div class="row-cols-md-2 ">
                    <div class="col ">
                      <div class="card shadow-sm ash">
                        <img src="" alt="" >
                        <div class="card-body sho">
                          <p class="card-text"><b>Contibution to Micro project</b> <br>Backend: Python, Django</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group" >
                              <button type="button" class="btn btn-sm btn-outline-secondary"><b>Jay Pethad</b></button>
                            </div>
                            <small class="text-muted"></small>
                          </div>
                        </div>
                      </div>
                      <p></p>
                        <div class="col ">
                          <div class="card shadow-sm ash">
                            <img src="" alt="" >
                            <div class="card-body sho">
                              <p class="card-text"><b>Contibution to Micro project</b> <br>Frontend: Html,css</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" >
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><b>Aditya Malusare</b></button>
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                          
                      <p></p>
                            <div class="col ">
                              <div class="card shadow-sm ash">
                                <img src="" alt="" >
                                <div class="card-body sho">
                                  <p class="card-text"><b>Contibution to Micro project</b> <br>Database: MySQL</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group" >
                                      <button type="button" class="btn btn-sm btn-outline-secondary"><b>Ashok Bhati</b></button>
                                    </div>
                                    <small class="text-muted"></small>
                                  </div>
                                </div>
                              </div>
                              <p></p>

                                <div class="col ">
                                  <div class="card shadow-sm ash">
                                    <img src="" alt="" >
                                    <div class="card-body sho">
                                      <p class="card-text"><b>Contibution to Micro project</b> <br>Database: MySQL</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" >
                                          <button type="button" class="btn btn-sm btn-outline-secondary"><b>Anam Shaikh</b></button>
                                        </div>
                                        <small class="text-muted"></small>
                                      </div>
                                    </div>
                                  </div>
                                  <p></p>
                                            
                </p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock body %}
