{% extends 'base.html' %}

{% block title %} about{% endblock title %}
{% block body %}
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>Hello, Myself Jay Pethad</h3>
                <p>I'm studing in Vidyalankar Polytechnic,Wadala. I'm in the Computer engineering department.<br>
                I know coding languages like C,C++,Java,Python,Sql<br>
                <br>
                <b>
                Skills I have<br>
                </b>
                Data structure<br>
                Graphics designing<br>
                Auto card<br>
                </p>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><img src="static\pics\fb.png" height="50"></a>
                
                <a href="https://twitter.com/PethadJay"><i class="fab fa-twitter"></i><img src="static\pics\twi.png" height="50"></a>
                
                <a href="https://www.instagram.com/pethad__jay/"><i class="fab fa-instagram"></i><img src="static\pics\insta.png" height="50"></a>
                
            </div>
        </div>
    </div>
</div>
{% endblock body %}